Kutubxonalarni yuklash

In [1]:
#Kutubxonalarni import qilish
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Datasetni yuklash va umumiy ma'lumotlarni ko'rsatish
df = pd.read_csv("./original_datasets/credit_history.csv")
df.describe()

,customer_number,credit_score,num_credit_accounts,oldest_credit_line_age,oldest_account_age_months,total_credit_limit,num_inquiries_6mo,recent_inquiry_count,num_public_records,num_collections,account_diversity_index
count,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000,89999.00000,89999.000000
mean,54999.000000,716.281681,9.400016,9.344400,112.132806,91483.424260,1.495183,1.495183,0.072612,0.03120,0.310799
std,25980.617776,46.076985,4.769961,5.111351,61.336214,67988.308788,1.225129,1.225129,0.259500,0.17386,0.100995
min,10000.000000,534.000000,0.000000,0.000000,0.000000,10000.000000,0.000000,0.000000,0.000000,0.00000,0.001000
25%,32499.500000,685.000000,6.000000,5.400000,64.800000,45100.000000,1.000000,1.000000,0.000000,0.00000,0.240000
50%,54999.000000,717.000000,9.000000,9.000000,108.000000,72300.000000,1.000000,1.000000,0.000000,0.00000,0.309000
75%,77498.500000,748.000000,13.000000,12.900000,154.800000,117800.000000,2.000000,2.000000,0.000000,0.00000,0.380000
max,99998.000000,850.000000,31.000000,32.200000,386.400000,500000.000000,10.000000,10.000000,1.000000,1.00000,0.756000

In [4]:
#Ustunlar haqida ma'lumot
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_number            89999 non-null  int64
 1   credit_score               89999 non-null  int64
 2   num_credit_accounts        89999 non-null  int64
 3   oldest_credit_line_age     89999 non-null  float64
 4   oldest_account_age_months  89999 non-null  float64
 5   total_credit_limit         89999 non-null  int64
 6   num_delinquencies_2yrs     89999 non-null  object
 7   num_inquiries_6mo          89999 non-null  int64
 8   recent_inquiry_count       89999 non-null  int64
 9   num_public_records         89999 non-null  int64
 10  num_collections            89999 non-null  int64
 11  account_diversity_index    89999 non-null  float64
dtypes: float64(3), int64(8), object(1)
memory usage: 8.2+ MB

In [5]:
#Ustun nomini almashtirish
df.rename(columns={"customer_number":"customer_id"},inplace=True)

In [ ]:
#Yo'qolgan malumotlarni qidirish
placeholders = ['NULL', 'NA', 'N/A', 'nan', r'\N']
print("\nCheck Placeholders:\n",(df.isin(placeholders)).sum())
print("\nMissing Values:\n", df.isnull().sum())

In [6]:
#Yo'qolgan qiymatlarni 0 bilan to'ldirish va ustunni intga o'tkazish
df['num_delinquencies_2yrs'] = df['num_delinquencies_2yrs'].apply(
    lambda x: str(x).replace(r'\N', '0').strip()
)
df['num_delinquencies_2yrs'] = df['num_delinquencies_2yrs'].astype(int)

In [8]:
# Tozalangan faylni saqlash
df.to_csv("./cleaned_datasets/credit_history_cleaned.csv", index=False)

In [10]:
newdf = pd.read_csv("./cleaned_datasets/credit_history_cleaned.csv")