In [15]:
#Kutubxonalarni import qilish
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Datasetni yuklash va umumiy ma'lumotlarni ko'rsatish
df = pd.read_csv("./original_datasets/demographics.csv")
df.describe()

            cust_id           age  employment_length  num_dependents
count  89999.000000  89999.000000       87746.000000    89999.000000
mean   54999.000000     38.715041           5.514893        1.199391
std    25980.617776     10.805176           3.268233        1.136630
min    10000.000000     18.000000           0.000000        0.000000
25%    32499.500000     31.000000           3.000000        0.000000
50%    54999.000000     38.000000           5.200000        1.000000
75%    77498.500000     46.000000           7.700000        2.000000
max    99998.000000     74.000000          23.900000        5.000000

In [ ]:
#Ustunlar haqida ma'lumot
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cust_id            89999 non-null  int64
 1   age                89999 non-null  int64
 2   annual_income      89999 non-null  object
 3   employment_length  87746 non-null  float64
 4   employment_type    89999 non-null  object
 5   education          89999 non-null  object
 6   marital_status     89999 non-null  object
 7   num_dependents     89999 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 5.5+ MB

In [ ]:
#Ustun nomini almashtirish
df.rename(columns={"cust_id":"customer_id"},inplace=True)

In [ ]:
#Yo'qolgan malumotlarni qidirish
placeholders = ['NULL', 'NA', 'N/A', 'nan', r'\N']
print("\nCheck Placeholders:\n",(df.isin(placeholders)).sum())
print("\nMissing Values:\n", df.isnull().sum())

Check Placeholders:
 customer_id          0
age                  0
annual_income        0
employment_length    0
employment_type      0
education            0
marital_status       0
num_dependents       0
dtype: int64

Missing Values:
 customer_id             0
age                     0
annual_income           0
employment_length    2253
employment_type         0
education               0
marital_status          0
num_dependents          0
dtype: int64

In [ ]:
# "annual_income" ustunini tozalash va raqamli formatga o'tkazish
df["annual_income"] = (
    df["annual_income"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["annual_income"] = pd.to_numeric(df["annual_income"], errors="coerce").fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        89999 non-null  int64
 1   age                89999 non-null  int64
 2   annual_income      89999 non-null  int64
 3   employment_length  87746 non-null  float64
 4   employment_type    89999 non-null  object
 5   education          89999 non-null  object
 6   marital_status     89999 non-null  object
 7   num_dependents     89999 non-null  int64
dtypes: float64(1), int64(4), object(3)
memory usage: 5.5+ MB

In [ ]:
#"eployment_length" ustunidagi yo'qolgan qiymatlarni o'rtacha bilan to'ldirish
df['employment_length'] = df['employment_length'].fillna(df['employment_length'].mean())

In [ ]:
#emloyment_type ustunidagi noyob qiymatlarni ko'rish
print(df['employment_type'].unique())

['Full-time' 'FULL_TIME' 'Full Time' 'Fulltime' 'Part Time'
 'Self Employed' 'FT' 'Self Emp' 'Contractor' 'Self-employed'
 'SELF_EMPLOYED' 'Contract' 'PART_TIME' 'CONTRACT' 'PT' 'Part-time']

In [ ]:
#qiymarlarni standartlashtirish
mapping = {
    'Full-time': 'Full Time',
    'FULL_TIME': 'Full Time',
    'Full Time': 'Full Time',
    'Fulltime': 'Full Time',
    'Part Time': 'Part Time',
    'Self Employed': 'Self Employed',
    'FT': 'Full Time',
    'Self Emp': 'Self Employed',
    'Contractor': 'Contractor',
    'Self-employed': 'Self Employed',
    'SELF_EMPLOYED': 'Self Employed',
    'Contract': 'Contractor',
    'PART_TIME': 'Part Time',
    'CONTRACT': 'Contractor',
    'PT': 'Part Time',
    'Part-time': 'Part Time'

}

df['employment_type'] = df['employment_type'].map(mapping)

In [ ]:
# Tozalangan faylni saqlash
df.to_csv("./cleaned_datasets/demographics_cleaned.csv", index=False)

In [12]:
newdf = pd.read_csv("./cleaned_datasets/demographics_cleaned.csv")