In [3]:
import pandas as pd

# CSV faylini yuklash
df = pd.read_csv("./original_datasets/financial_ratios.csv") 

# Tekshirish
print(type(df)) 
df.head(10)

<class 'pandas.core.frame.DataFrame'>

,cust_num,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,revolving_balance,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,"5,150.00",738.64,$592.13,0.258,0.258402,0.115,0.841,"$142,213.10","$142,213.10","$26,886.90",1330.77,15969.24,0.286408,"159,913.10","3,819.23"
1,10001,"2,383.33",392.21,"1,013.86",0.590,0.589959,0.425,0.971,"$75,932.20","75,932.20","$2,267.80",1406.07,16872.84,3.986014,"189,932.20",$977.26
2,10002,"1,725.00",204.07,$317.81,0.303,0.302539,0.184,0.539,22314.6,"22,314.60","$19,085.40",521.88,6262.56,0.449275,31614.6,1203.12
3,10003,"2,616.67",$288.71,234.52,0.200,0.199961,0.090,0.147,"8,820.00",8820.0,"51,180.00",523.23,6278.76,0.277070,"$17,520.00",2093.4366666666665
4,10004,"2,050.00",$248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,24253.6,"25,446.40",583.58,7002.96,0.292683,"$31,453.60",1466.42
5,10005,$4675,"1,683.23",219.0,0.407,0.406894,0.047,0.287,"17,707.90","17,707.90","$43,992.10","$1,902.23",22826.76,0.130125,"25,007.90","$2,772.77"
6,10006,"$3,091.67",$764.48,693.48,0.472,0.471577,0.224,0.112,6462.4,"$6,462.40","51,237.60","$1,457.96",17495.52,0.557951,27162.4,"$1,633.71"
7,10007,"$2,883.33",745.77,$605.07,0.468,0.468499,0.210,0.238,17421.6,"$17,421.60",55778.4,1350.8400000000001,16210.08,0.650289,"$39,921.60","1,532.49"
8,10008,"2,183.33",653.04,$342.00,0.456,0.455744,0.157,0.429,8923.2,"$8,923.20","11,876.80",995.04,11940.48,0.435115,"$20,323.20",1188.2933333333335
9,10009,"$5,008.33",$297.42,360.00,0.131,0.131265,0.072,0.319,"17,513.10","$17,513.10","$37,386.90",657.4200000000001,7889.04,0.199667,"$29,513.10",4350.913333333333

In [4]:
df.rename(columns={"cust_num": "customer_id"}, inplace=True)

In [5]:
#"monthly_income" ustunini tozalash
df["monthly_income"] = (
    df["monthly_income"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["monthly_income"] = pd.to_numeric(df["monthly_income"], errors="coerce").fillna(0)

In [6]:
#"existing_monthly_debt" ustunini tozalash
df["existing_monthly_debt"] = (
    df["existing_monthly_debt"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["existing_monthly_debt"] = pd.to_numeric(df["existing_monthly_debt"], errors="coerce").fillna(0)

In [7]:
#"monthly_payment" ustunini tozalash

df["monthly_payment"] = (
    df["monthly_payment"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["monthly_payment"] = pd.to_numeric(df["monthly_payment"], errors="coerce").fillna(0)

In [8]:
#"revolving_balance" ustunini tozalash

df["revolving_balance"] = (
    df["revolving_balance"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["revolving_balance"] = pd.to_numeric(df["revolving_balance"], errors="coerce").fillna(0)

In [9]:
#"credit_usage_amount" ustunini tozalash
df["credit_usage_amount"] = (
    df["credit_usage_amount"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["credit_usage_amount"] = pd.to_numeric(df["credit_usage_amount"], errors="coerce").fillna(0)

In [10]:
#"available_credit" ustunini tozalash
df["available_credit"] = (
    df["available_credit"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["available_credit"] = pd.to_numeric(df["available_credit"], errors="coerce").fillna(0)

In [11]:
#"total_monthly_debt_payment" ustunini tozalash
df["total_monthly_debt_payment"] = (
    df["total_monthly_debt_payment"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["total_monthly_debt_payment"] = pd.to_numeric(df["total_monthly_debt_payment"], errors="coerce").fillna(0)

In [12]:
#"total_debt_amountt" ustunini tozalash
df["total_debt_amount"] = (
    df["total_debt_amount"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["total_debt_amount"] = pd.to_numeric(df["total_debt_amount"], errors="coerce").fillna(0)

In [13]:
#"monthly_free_cash_flow" ustunini tozalash
df["monthly_free_cash_flow"] = (
    df["monthly_free_cash_flow"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["monthly_free_cash_flow"] = pd.to_numeric(df["monthly_free_cash_flow"], errors="coerce").fillna(0)

In [14]:
# Tozalangan faylni saqlash
df.to_csv("./original_datasets/financial_ratios_cleaned.csv", index=False)

In [15]:
df1 = pd.read_csv("./original_datasets/financial_ratios_cleaned.csv")
df1.duplicated().sum()

np.int64(0)