In [1]:
#geographic_data o'qish va ma'lumotlarni o'rganish
import pandas as pd
df = pd.read_csv("./original_datasets/geographic_data.csv")
df

,id,state,regional_unemployment_rate,regional_median_income,regional_median_rent,housing_price_index,cost_of_living_index,previous_zip_code
0,10000,OH,4.8,56000,1380.0,91.0,73.0,451
1,10001,PA,4.4,61000,1510.0,92.0,87.0,537
2,10002,VA,3.9,74000,1920.0,125.0,103.0,679
3,10003,CA,5.8,75000,1690.0,158.0,121.0,719
4,10004,WA,5.8,78000,1700.0,152.0,127.0,933
...,...,...,...,...,...,...,...,...
89994,99994,CA,5.8,75000,1830.0,168.0,138.0,933
89995,99995,IL,4.9,65000,1900.0,99.0,84.0,536
89996,99996,CA,5.4,75000,1560.0,157.0,127.0,193
89997,99997,GA,4.3,58000,1310.0,103.0,92.0,555
89998,99998,TX,3.9,61000,1310.0,115.0,92.0,627

In [2]:
#yetishmayotgan qiymatlarni aniqlash
placeholders = ['NULL', 'NA', 'N/A', 'nan', r'\N']
(df.isin(placeholders)).sum()

id                            0
state                         0
regional_unemployment_rate    0
regional_median_income        0
regional_median_rent          0
housing_price_index           0
cost_of_living_index          0
previous_zip_code             0
dtype: int64

In [3]:
#id column uchun yangi customer_id ga o'tkizish
df = df.rename(columns={'id':'customer_id'})
df

,customer_id,state,regional_unemployment_rate,regional_median_income,regional_median_rent,housing_price_index,cost_of_living_index,previous_zip_code
0,10000,OH,4.8,56000,1380.0,91.0,73.0,451
1,10001,PA,4.4,61000,1510.0,92.0,87.0,537
2,10002,VA,3.9,74000,1920.0,125.0,103.0,679
3,10003,CA,5.8,75000,1690.0,158.0,121.0,719
4,10004,WA,5.8,78000,1700.0,152.0,127.0,933
...,...,...,...,...,...,...,...,...
89994,99994,CA,5.8,75000,1830.0,168.0,138.0,933
89995,99995,IL,4.9,65000,1900.0,99.0,84.0,536
89996,99996,CA,5.4,75000,1560.0,157.0,127.0,193
89997,99997,GA,4.3,58000,1310.0,103.0,92.0,555
89998,99998,TX,3.9,61000,1310.0,115.0,92.0,627

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 89999 non-null  int64
 1   state                       89999 non-null  object
 2   regional_unemployment_rate  89999 non-null  float64
 3   regional_median_income      89999 non-null  int64
 4   regional_median_rent        89999 non-null  float64
 5   housing_price_index         89999 non-null  float64
 6   cost_of_living_index        89999 non-null  float64
 7   previous_zip_code           89999 non-null  int64
dtypes: float64(4), int64(3), object(1)
memory usage: 5.5+ MB

In [5]:
import numpy as nm
a = df['state'].values

a=df["state"].value_counts()
print(dict(a))

{'CA': np.int64(11552), 'TX': np.int64(9595), 'FL': np.int64(7806), 'NY': np.int64(7595), 'IL': np.int64(4771), 'PA': np.int64(4684), 'OH': np.int64(3842), 'NC': np.int64(3839), 'MI': np.int64(3838), 'GA': np.int64(3779), 'MD': np.int64(2999), 'VA': np.int64(2921), 'MA': np.int64(2878), 'MO': np.int64(2877), 'NJ': np.int64(2877), 'WI': np.int64(2859), 'WA': np.int64(2852), 'AZ': np.int64(2825), 'IN': np.int64(2820), 'TN': np.int64(2790)}

In [6]:
#state ustuni uchun qisqartmalarni to'liq nom bilan almashtirish
state_dict = {'CA': "California", 'TX': "Texas", 'FL': "Florida", 'NY': "Nyu York", 'IL': "Illinois", 'PA': "Pennsylvania", 'OH': "Ohio", 'NC': "North Carolina", 'MI': "Michigan", 'GA': "Georgia", 'MD': "Maryland", 'VA': "Virginia", 'MA': "Massachusetts", 'MO': "Missouri", 'NJ': "New Jersey", 'WI': "Wisconsin", 'WA': "Washington", 'AZ': "Arizona", 'IN': "Indiana", 'TN': "Tennessee"}
df["state"] = df["state"].replace(state_dict)
df

,customer_id,state,regional_unemployment_rate,regional_median_income,regional_median_rent,housing_price_index,cost_of_living_index,previous_zip_code
0,10000,Ohio,4.8,56000,1380.0,91.0,73.0,451
1,10001,Pennsylvania,4.4,61000,1510.0,92.0,87.0,537
2,10002,Virginia,3.9,74000,1920.0,125.0,103.0,679
3,10003,California,5.8,75000,1690.0,158.0,121.0,719
4,10004,Washington,5.8,78000,1700.0,152.0,127.0,933
...,...,...,...,...,...,...,...,...
89994,99994,California,5.8,75000,1830.0,168.0,138.0,933
89995,99995,Illinois,4.9,65000,1900.0,99.0,84.0,536
89996,99996,California,5.4,75000,1560.0,157.0,127.0,193
89997,99997,Georgia,4.3,58000,1310.0,103.0,92.0,555
89998,99998,Texas,3.9,61000,1310.0,115.0,92.0,627

Dublikatga tekshirish

In [7]:
#dublicatga tekshirish
duplicates = df.duplicated()
print(duplicates.sum())

0

In [10]:
#data framedan nusxa olish
df_cleaned = df.copy()

# CSV faylga saqlash
df_cleaned.to_csv("./cleaned_datasets/geographic_data_cleaned.csv", index=False)