In [2]:
#faylni o'qish
import pandas as pd
df=pd.read_csv("./original_datasets/loan_details.csv")
df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign
0,10000,Personal,"$17,700",36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W
1,10001,mortgage,"$114,000",180,6.83,Refinance,0.774,Branch,1011,B
2,10002,Personal Loan,"9,300",36,13.99,Major Purchase,0.000,Online,1084,K
3,10003,PERSONAL,$8700,48,13.26,Medical,0.000,Online,1048,A
4,10004,Personal,"$7,200",24,10.77,Debt Consolidation,0.000,Branch,1055,S
...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,"$11,300",24,9.70,Home Improvement,0.000,Branch,1050,O
89995,99995,personal,"16,500",36,11.67,Other,0.000,Branch,1071,D
89996,99996,Personal Loan,"17,800",36,14.99,Major Purchase,0.000,Online,1046,J
89997,99997,Credit Card,$11700,0,19.10,Revolving Credit,0.000,Branch,997,K
89998,99998,Mortgage,$487100,360,5.03,Refinance,0.894,Online,1003,J

In [3]:
df.info()  #ustunlar haqida ma'lumot

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customer_id          89999 non-null  int64
 1   loan_type            89999 non-null  object
 2   loan_amount          89999 non-null  object
 3   loan_term            89999 non-null  int64
 4   interest_rate        89999 non-null  float64
 5   loan_purpose         89999 non-null  object
 6   loan_to_value_ratio  89999 non-null  float64
 7   origination_channel  89999 non-null  object
 8   loan_officer_id      89999 non-null  int64
 9   marketing_campaign   89999 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 6.9+ MB

In [ ]:
df.describe()  #raqamli ustunlarni tekshirish

,customer_id,loan_term,interest_rate,loan_to_value_ratio,loan_officer_id
count,89999.000000,89999.000000,89999.000000,89999.000000,89999.000000
mean,54999.000000,132.369204,11.278835,0.273598,1045.791587
std,25980.617776,152.657187,4.607331,0.378284,32.327924
min,10000.000000,0.000000,2.500000,0.000000,995.000000
25%,32499.500000,12.000000,6.960000,0.000000,1010.000000
50%,54999.000000,48.000000,11.290000,0.000000,1048.000000
75%,77498.500000,360.000000,14.820000,0.725000,1077.000000
max,99998.000000,360.000000,22.800000,0.970000,1099.000000

In [ ]:
#loan_type ustunini tekshirish
print(df['loan_type'].describe()) 
print(df["loan_type"].unique())

count        89999
unique          12
top       Personal
freq          9097
Name: loan_type, dtype: object
['Personal' 'mortgage' 'Personal Loan' 'PERSONAL' 'CreditCard'
 'Credit Card' 'Mortgage' 'Home Loan' 'MORTGAGE' 'CC' 'credit card'
 'personal']

In [ ]:
#loan_amount ustunini tekshirish
print(df['loan_amount'].describe()) 
print(df["loan_amount"].unique())

count     89999
unique    14177
top       $7500
freq        148
Name: loan_amount, dtype: object
['$17,700' '$114,000' '9,300' ... '$230,100' '$429,900' '274,400']

In [8]:
# loan amount ustunidagi  $ va , belgilarini olib tashlash va float ga o'tkazish
df['loan_amount'] = df['loan_amount'].str.replace(r'[\$,]', '', regex=True).astype(float)

In [9]:
# loan_type ustunini kichik harfga o'tkazish
df['loan_type'] = df['loan_type'].str.lower()

df

,customer_id,loan_type,loan_amount,loan_term,interest_rate,loan_purpose,loan_to_value_ratio,origination_channel,loan_officer_id,marketing_campaign
0,10000,personal,17700.0,36,12.50,Debt Consolidation,0.000,Direct Mail,1045,W
1,10001,mortgage,114000.0,180,6.83,Refinance,0.774,Branch,1011,B
2,10002,personal loan,9300.0,36,13.99,Major Purchase,0.000,Online,1084,K
3,10003,personal,8700.0,48,13.26,Medical,0.000,Online,1048,A
4,10004,personal,7200.0,24,10.77,Debt Consolidation,0.000,Branch,1055,S
...,...,...,...,...,...,...,...,...,...,...
89994,99994,personal,11300.0,24,9.70,Home Improvement,0.000,Branch,1050,O
89995,99995,personal,16500.0,36,11.67,Other,0.000,Branch,1071,D
89996,99996,personal loan,17800.0,36,14.99,Major Purchase,0.000,Online,1046,J
89997,99997,credit card,11700.0,0,19.10,Revolving Credit,0.000,Branch,997,K
89998,99998,mortgage,487100.0,360,5.03,Refinance,0.894,Online,1003,J

In [36]:
# 'personal loan' ni 'personal' ga o'zgartirish
df['loan_type'] = df['loan_type'].replace('personal loan', 'personal')

# Tekshirish
print(df['loan_type'].value_counts())

loan_type
personal       36232
mortgage       23579
credit card    11195
home loan       7850
creditcard      5659
cc              5484
Name: count, dtype: int64

In [37]:
# loan_type ustunidagi kredit kartalarni 'creditcard' ga o'zgartirish
df['loan_type'] = df['loan_type'].replace({
    'credit card': 'creditcard',
    'cc': 'creditcard',
    'creditcard': 'creditcard'
})

# Tekshirish
print(df['loan_type'].value_counts())

loan_type
personal      36232
mortgage      23579
creditcard    22338
home loan      7850
Name: count, dtype: int64

In [43]:
# Tozalangan faylni saqlash
df.to_csv("./cleaned_datasets/loan_details_cleaned.csv", index=False)

print("Fayl muvaffaqiyatli saqlandi!")

Fayl muvaffaqiyatli saqlandi!