In [33]:
import pandas as pd

In [34]:
df = pd.read_csv('financial_ratios.csv')
df.head(15)

,cust_num,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,revolving_balance,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,"5,150.00",738.64,$592.13,0.258,0.258402,0.115,0.841,"$142,213.10","$142,213.10","$26,886.90",1330.77,15969.24,0.286408,"159,913.10","3,819.23"
1,10001,"2,383.33",392.21,"1,013.86",0.590,0.589959,0.425,0.971,"$75,932.20","75,932.20","$2,267.80",1406.07,16872.84,3.986014,"189,932.20",$977.26
2,10002,"1,725.00",204.07,$317.81,0.303,0.302539,0.184,0.539,22314.6,"22,314.60","$19,085.40",521.88,6262.56,0.449275,31614.6,1203.12
3,10003,"2,616.67",$288.71,234.52,0.200,0.199961,0.090,0.147,"8,820.00",8820.0,"51,180.00",523.23,6278.76,0.277070,"$17,520.00",2093.4366666666665
4,10004,"2,050.00",$248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,24253.6,"25,446.40",583.58,7002.96,0.292683,"$31,453.60",1466.42
5,10005,$4675,"1,683.23",219.0,0.407,0.406894,0.047,0.287,"17,707.90","17,707.90","$43,992.10","$1,902.23",22826.76,0.130125,"25,007.90","$2,772.77"
6,10006,"$3,091.67",$764.48,693.48,0.472,0.471577,0.224,0.112,6462.4,"$6,462.40","51,237.60","$1,457.96",17495.52,0.557951,27162.4,"$1,633.71"
7,10007,"$2,883.33",745.77,$605.07,0.468,0.468499,0.210,0.238,17421.6,"$17,421.60",55778.4,1350.8400000000001,16210.08,0.650289,"$39,921.60","1,532.49"
8,10008,"2,183.33",653.04,$342.00,0.456,0.455744,0.157,0.429,8923.2,"$8,923.20","11,876.80",995.04,11940.48,0.435115,"$20,323.20",1188.2933333333335
9,10009,"$5,008.33",$297.42,360.00,0.131,0.131265,0.072,0.319,"17,513.10","$17,513.10","$37,386.90",657.4200000000001,7889.04,0.199667,"$29,513.10",4350.913333333333
10,10010,"1,800.00",$682.44,$709.28,0.773,0.773178,0.394,0.471,7818.6,"$7,818.60",8781.4,"$1,391.72",16700.64,4.587963,"$106,918.60",$408.28
11,10011,"$1,925.00",284.92,329.18,0.319,0.319013,0.171,0.148,"8,199.20","8,199.20",47200.8,614.10,7369.20,0.670996,"$23,699.20","$1,310.90"
12,10012,"4,491.67",$225.34,2145.78,0.528,0.527893,0.478,0.183,22692.0,"$22,692.00","$101,308.00","2,371.12",28453.44,6.690167,"383,292.00","$2,120.55"
13,10013,$1958,$500.21,$141.00,0.327,0.327426,0.072,0.589,"$18,317.90","$18,317.90","$12,782.10",$641.21,7694.52,0.200000,23017.9,"1,317.12"
14,10014,"5,958.33",1273.92,"$1,323.28",0.436,0.435894,0.222,0.529,"$92,627.90","$92,627.90","82,472.10","2,597.20",31166.40,3.103497,314527.9,"3,361.13"

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cust_num                    89999 non-null  int64
 1   monthly_income              89999 non-null  object
 2   existing_monthly_debt       89999 non-null  object
 3   monthly_payment             89999 non-null  object
 4   debt_to_income_ratio        89999 non-null  float64
 5   debt_service_ratio          89999 non-null  float64
 6   payment_to_income_ratio     89999 non-null  float64
 7   credit_utilization          89999 non-null  float64
 8   revolving_balance           88622 non-null  object
 9   credit_usage_amount         89999 non-null  object
 10  available_credit            89999 non-null  object
 11  total_monthly_debt_payment  89999 non-null  object
 12  annual_debt_payment         89999 non-null  float64
 13  loan_to_annual_income       89999 non-null  float64
 14  total_debt_amount           89999 non-null  object
 15  monthly_free_cash_flow      89999 non-null  object
dtypes: float64(6), int64(1), object(9)
memory usage: 11.0+ MB

In [36]:
df = df.rename(columns={"cust_num": "customer_id"}, inplace=True)

In [49]:
df.head(10)

AttributeError: 'NoneType' object has no attribute 'head'

In [50]:
import pandas as pd

# CSV faylini qaytadan yuklash
df = pd.read_csv("financial_ratios.csv")  # Fayl nomini to'g'ri yozing

# Tekshirish
print(type(df))  # <class 'pandas.core.frame.DataFrame'> bo'lishi kerak
df.head(10)

<class 'pandas.core.frame.DataFrame'>

,cust_num,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,revolving_balance,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,"5,150.00",738.64,$592.13,0.258,0.258402,0.115,0.841,"$142,213.10","$142,213.10","$26,886.90",1330.77,15969.24,0.286408,"159,913.10","3,819.23"
1,10001,"2,383.33",392.21,"1,013.86",0.590,0.589959,0.425,0.971,"$75,932.20","75,932.20","$2,267.80",1406.07,16872.84,3.986014,"189,932.20",$977.26
2,10002,"1,725.00",204.07,$317.81,0.303,0.302539,0.184,0.539,22314.6,"22,314.60","$19,085.40",521.88,6262.56,0.449275,31614.6,1203.12
3,10003,"2,616.67",$288.71,234.52,0.200,0.199961,0.090,0.147,"8,820.00",8820.0,"51,180.00",523.23,6278.76,0.277070,"$17,520.00",2093.4366666666665
4,10004,"2,050.00",$248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,24253.6,"25,446.40",583.58,7002.96,0.292683,"$31,453.60",1466.42
5,10005,$4675,"1,683.23",219.0,0.407,0.406894,0.047,0.287,"17,707.90","17,707.90","$43,992.10","$1,902.23",22826.76,0.130125,"25,007.90","$2,772.77"
6,10006,"$3,091.67",$764.48,693.48,0.472,0.471577,0.224,0.112,6462.4,"$6,462.40","51,237.60","$1,457.96",17495.52,0.557951,27162.4,"$1,633.71"
7,10007,"$2,883.33",745.77,$605.07,0.468,0.468499,0.210,0.238,17421.6,"$17,421.60",55778.4,1350.8400000000001,16210.08,0.650289,"$39,921.60","1,532.49"
8,10008,"2,183.33",653.04,$342.00,0.456,0.455744,0.157,0.429,8923.2,"$8,923.20","11,876.80",995.04,11940.48,0.435115,"$20,323.20",1188.2933333333335
9,10009,"$5,008.33",$297.42,360.00,0.131,0.131265,0.072,0.319,"17,513.10","$17,513.10","$37,386.90",657.4200000000001,7889.04,0.199667,"$29,513.10",4350.913333333333

In [51]:
df.rename(columns={"cust_num": "customer_id"}, inplace=True)

In [56]:
df.head(10)

,customer_id,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,revolving_balance,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,"5,150.00",738.64,$592.13,0.258,0.258402,0.115,0.841,"$142,213.10","$142,213.10","$26,886.90",1330.77,15969.24,0.286408,"159,913.10","3,819.23"
1,10001,"2,383.33",392.21,"1,013.86",0.590,0.589959,0.425,0.971,"$75,932.20","75,932.20","$2,267.80",1406.07,16872.84,3.986014,"189,932.20",$977.26
2,10002,"1,725.00",204.07,$317.81,0.303,0.302539,0.184,0.539,22314.6,"22,314.60","$19,085.40",521.88,6262.56,0.449275,31614.6,1203.12
3,10003,"2,616.67",$288.71,234.52,0.200,0.199961,0.090,0.147,"8,820.00",8820.0,"51,180.00",523.23,6278.76,0.277070,"$17,520.00",2093.4366666666665
4,10004,"2,050.00",$248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,24253.6,"25,446.40",583.58,7002.96,0.292683,"$31,453.60",1466.42
5,10005,$4675,"1,683.23",219.0,0.407,0.406894,0.047,0.287,"17,707.90","17,707.90","$43,992.10","$1,902.23",22826.76,0.130125,"25,007.90","$2,772.77"
6,10006,"$3,091.67",$764.48,693.48,0.472,0.471577,0.224,0.112,6462.4,"$6,462.40","51,237.60","$1,457.96",17495.52,0.557951,27162.4,"$1,633.71"
7,10007,"$2,883.33",745.77,$605.07,0.468,0.468499,0.210,0.238,17421.6,"$17,421.60",55778.4,1350.8400000000001,16210.08,0.650289,"$39,921.60","1,532.49"
8,10008,"2,183.33",653.04,$342.00,0.456,0.455744,0.157,0.429,8923.2,"$8,923.20","11,876.80",995.04,11940.48,0.435115,"$20,323.20",1188.2933333333335
9,10009,"$5,008.33",$297.42,360.00,0.131,0.131265,0.072,0.319,"17,513.10","$17,513.10","$37,386.90",657.4200000000001,7889.04,0.199667,"$29,513.10",4350.913333333333

In [57]:
df["monthly_income"] = (
    df["monthly_income"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["monthly_income"] = pd.to_numeric(df["monthly_income"], errors="coerce").fillna(0)

In [58]:
df.head(10)

,customer_id,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,revolving_balance,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,5150.00,738.64,$592.13,0.258,0.258402,0.115,0.841,"$142,213.10","$142,213.10","$26,886.90",1330.77,15969.24,0.286408,"159,913.10","3,819.23"
1,10001,2383.33,392.21,"1,013.86",0.590,0.589959,0.425,0.971,"$75,932.20","75,932.20","$2,267.80",1406.07,16872.84,3.986014,"189,932.20",$977.26
2,10002,1725.00,204.07,$317.81,0.303,0.302539,0.184,0.539,22314.6,"22,314.60","$19,085.40",521.88,6262.56,0.449275,31614.6,1203.12
3,10003,2616.67,$288.71,234.52,0.200,0.199961,0.090,0.147,"8,820.00",8820.0,"51,180.00",523.23,6278.76,0.277070,"$17,520.00",2093.4366666666665
4,10004,2050.00,$248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,24253.6,"25,446.40",583.58,7002.96,0.292683,"$31,453.60",1466.42
5,10005,4675.00,"1,683.23",219.0,0.407,0.406894,0.047,0.287,"17,707.90","17,707.90","$43,992.10","$1,902.23",22826.76,0.130125,"25,007.90","$2,772.77"
6,10006,3091.67,$764.48,693.48,0.472,0.471577,0.224,0.112,6462.4,"$6,462.40","51,237.60","$1,457.96",17495.52,0.557951,27162.4,"$1,633.71"
7,10007,2883.33,745.77,$605.07,0.468,0.468499,0.210,0.238,17421.6,"$17,421.60",55778.4,1350.8400000000001,16210.08,0.650289,"$39,921.60","1,532.49"
8,10008,2183.33,653.04,$342.00,0.456,0.455744,0.157,0.429,8923.2,"$8,923.20","11,876.80",995.04,11940.48,0.435115,"$20,323.20",1188.2933333333335
9,10009,5008.33,$297.42,360.00,0.131,0.131265,0.072,0.319,"17,513.10","$17,513.10","$37,386.90",657.4200000000001,7889.04,0.199667,"$29,513.10",4350.913333333333

In [59]:
df["existing_monthly_debt"] = (
    df["existing_monthly_debt"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["existing_monthly_debt"] = pd.to_numeric(df["existing_monthly_debt"], errors="coerce").fillna(0)

In [60]:
df.head()

,customer_id,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,revolving_balance,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,5150.00,738.64,$592.13,0.258,0.258402,0.115,0.841,"$142,213.10","$142,213.10","$26,886.90",1330.77,15969.24,0.286408,"159,913.10","3,819.23"
1,10001,2383.33,392.21,"1,013.86",0.590,0.589959,0.425,0.971,"$75,932.20","75,932.20","$2,267.80",1406.07,16872.84,3.986014,"189,932.20",$977.26
2,10002,1725.00,204.07,$317.81,0.303,0.302539,0.184,0.539,22314.6,"22,314.60","$19,085.40",521.88,6262.56,0.449275,31614.6,1203.12
3,10003,2616.67,288.71,234.52,0.200,0.199961,0.090,0.147,"8,820.00",8820.0,"51,180.00",523.23,6278.76,0.277070,"$17,520.00",2093.4366666666665
4,10004,2050.00,248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,24253.6,"25,446.40",583.58,7002.96,0.292683,"$31,453.60",1466.42

In [61]:
df["monthly_payment"] = (
    df["monthly_payment"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["monthly_payment"] = pd.to_numeric(df["monthly_payment"], errors="coerce").fillna(0)

In [62]:
df.head()

,customer_id,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,revolving_balance,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,5150.00,738.64,592.13,0.258,0.258402,0.115,0.841,"$142,213.10","$142,213.10","$26,886.90",1330.77,15969.24,0.286408,"159,913.10","3,819.23"
1,10001,2383.33,392.21,1013.86,0.590,0.589959,0.425,0.971,"$75,932.20","75,932.20","$2,267.80",1406.07,16872.84,3.986014,"189,932.20",$977.26
2,10002,1725.00,204.07,317.81,0.303,0.302539,0.184,0.539,22314.6,"22,314.60","$19,085.40",521.88,6262.56,0.449275,31614.6,1203.12
3,10003,2616.67,288.71,234.52,0.200,0.199961,0.090,0.147,"8,820.00",8820.0,"51,180.00",523.23,6278.76,0.277070,"$17,520.00",2093.4366666666665
4,10004,2050.00,248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,24253.6,"25,446.40",583.58,7002.96,0.292683,"$31,453.60",1466.42

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 89999 non-null  int64
 1   monthly_income              89999 non-null  float64
 2   existing_monthly_debt       89999 non-null  float64
 3   monthly_payment             89999 non-null  float64
 4   debt_to_income_ratio        89999 non-null  float64
 5   debt_service_ratio          89999 non-null  float64
 6   payment_to_income_ratio     89999 non-null  float64
 7   credit_utilization          89999 non-null  float64
 8   revolving_balance           88622 non-null  object
 9   credit_usage_amount         89999 non-null  object
 10  available_credit            89999 non-null  object
 11  total_monthly_debt_payment  89999 non-null  object
 12  annual_debt_payment         89999 non-null  float64
 13  loan_to_annual_income       89999 non-null  float64
 14  total_debt_amount           89999 non-null  object
 15  monthly_free_cash_flow      89999 non-null  object
dtypes: float64(9), int64(1), object(6)
memory usage: 11.0+ MB

In [64]:
df["revolving_balance"] = (
    df["revolving_balance"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["revolving_balance"] = pd.to_numeric(df["revolving_balance"], errors="coerce").fillna(0)

In [67]:
df["credit_usage_amount"] = (
    df["credit_usage_amount"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["credit_usage_amount"] = pd.to_numeric(df["credit_usage_amount"], errors="coerce").fillna(0)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 89999 non-null  int64
 1   monthly_income              89999 non-null  float64
 2   existing_monthly_debt       89999 non-null  float64
 3   monthly_payment             89999 non-null  float64
 4   debt_to_income_ratio        89999 non-null  float64
 5   debt_service_ratio          89999 non-null  float64
 6   payment_to_income_ratio     89999 non-null  float64
 7   credit_utilization          89999 non-null  float64
 8   revolving_balance           89999 non-null  float64
 9   credit_usage_amount         89999 non-null  float64
 10  available_credit            89999 non-null  object
 11  total_monthly_debt_payment  89999 non-null  object
 12  annual_debt_payment         89999 non-null  float64
 13  loan_to_annual_income       89999 non-null  float64
 14  total_debt_amount           89999 non-null  object
 15  monthly_free_cash_flow      89999 non-null  object
dtypes: float64(11), int64(1), object(4)
memory usage: 11.0+ MB

In [70]:
df["available_credit"] = (
    df["available_credit"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["available_credit"] = pd.to_numeric(df["available_credit"], errors="coerce").fillna(0)

In [72]:
df["total_monthly_debt_payment"] = (
    df["total_monthly_debt_payment"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["total_monthly_debt_payment"] = pd.to_numeric(df["total_monthly_debt_payment"], errors="coerce").fillna(0)

In [75]:
df["total_debt_amount"] = (
    df["total_debt_amount"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["total_debt_amount"] = pd.to_numeric(df["total_debt_amount"], errors="coerce").fillna(0)

In [78]:
df["monthly_free_cash_flow"] = (
    df["monthly_free_cash_flow"]
    .astype(str)                       # hammasini stringga aylantirish
    .str.replace("$", "", regex=False) # $ olib tashlash
    .str.replace(",", "", regex=False) # vergul olib tashlash
    .str.strip()                       # bo'shliqlarni olib tashlash
)

df["monthly_free_cash_flow"] = pd.to_numeric(df["monthly_free_cash_flow"], errors="coerce").fillna(0)

In [79]:
df.head()

,customer_id,monthly_income,existing_monthly_debt,monthly_payment,debt_to_income_ratio,debt_service_ratio,payment_to_income_ratio,credit_utilization,revolving_balance,credit_usage_amount,available_credit,total_monthly_debt_payment,annual_debt_payment,loan_to_annual_income,total_debt_amount,monthly_free_cash_flow
0,10000,5150.00,738.64,592.13,0.258,0.258402,0.115,0.841,142213.1,142213.1,26886.9,1330.77,15969.24,0.286408,159913.1,3819.230000
1,10001,2383.33,392.21,1013.86,0.590,0.589959,0.425,0.971,75932.2,75932.2,2267.8,1406.07,16872.84,3.986014,189932.2,977.260000
2,10002,1725.00,204.07,317.81,0.303,0.302539,0.184,0.539,22314.6,22314.6,19085.4,521.88,6262.56,0.449275,31614.6,1203.120000
3,10003,2616.67,288.71,234.52,0.200,0.199961,0.090,0.147,8820.0,8820.0,51180.0,523.23,6278.76,0.277070,17520.0,2093.436667
4,10004,2050.00,248.77,334.81,0.285,0.284673,0.163,0.488,24253.6,24253.6,25446.4,583.58,7002.96,0.292683,31453.6,1466.420000

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89999 entries, 0 to 89998
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 89999 non-null  int64
 1   monthly_income              89999 non-null  float64
 2   existing_monthly_debt       89999 non-null  float64
 3   monthly_payment             89999 non-null  float64
 4   debt_to_income_ratio        89999 non-null  float64
 5   debt_service_ratio          89999 non-null  float64
 6   payment_to_income_ratio     89999 non-null  float64
 7   credit_utilization          89999 non-null  float64
 8   revolving_balance           89999 non-null  float64
 9   credit_usage_amount         89999 non-null  float64
 10  available_credit            89999 non-null  float64
 11  total_monthly_debt_payment  89999 non-null  float64
 12  annual_debt_payment         89999 non-null  float64
 13  loan_to_annual_income       89999 non-null  float64
 14  total_debt_amount           89999 non-null  float64
 15  monthly_free_cash_flow      89999 non-null  float64
dtypes: float64(15), int64(1)
memory usage: 11.0 MB

In [82]:
df.to_csv("financial_ratios_cleaned.csv", index=False)

In [85]:
df1 = pd.read_csv('financial_ratios_cleaned.csv')
df1.duplicated().sum()

0